html {
  font-size: 24px;
  font-family: 'Monaco', monospace;
  color: black;
}

body {
  max-width: 38rem;
  margin: 5vh auto;
  padding: 5vh 5vw;
}

h1, h2, h3 {
  font-family: system-ui, serif;
}

h1.page-title {
  font-size: 2rem;
  font-weight: 600;
}

pre {
  padding: 1rem;
  border: 3px dashed black;
  box-sizing: border-box;
  display: inline-block;
  /* margin: 0; */
}

pre.pre-tight {
  padding: .5rem;
  font-size: .65rem;
}

nav {
  margin-top: 3rem;
}

nav div {
  margin-bottom: .34rem;
}

a, a:visited {
  color: slateblue;
  text-decoration: none;
  transition: color .4s ease, background .4s ease;
}

a:hover:not(:target) {
  background: slateblue;
  color: white;
}

a:target {
  color: black;
  cursor: none;
}

label {
  display: block;
  margin-bottom: .25rem;
}

input, button, textarea, select {
  padding: .5rem;
  font-size: 1rem;
  color: slateblue;
  display: block;
  margin-bottom: 1rem;
}

input, textarea, select {
  border: 3px dashed slateblue;
  width: 20rem;
}

textarea {
  font-size: .65rem;
  height: 10rem;
  font-family: 'Fira Code', 'Hack', 'Menlo', inherit;
}

textarea.large-textarea {
  font-size: .65rem;
  height: 10rem;
}

button {
  border: 3px solid slateblue;
  cursor: pointer;
}

table th {
  text-align: left;
  border-bottom: 3px dashed black;
}

table td {
  padding-right: 1rem;
  word-break: break-all;
}

table td:nth-child(2) {
  width: 50%;
}

hr {
  border: none;
  border-bottom: 3px solid black;
  width: 6em;
  margin-left: 0;
}

.error-flash {
  color: mediumvioletred;
  border: 3px solid mediumvioletred;
  padding: .5rem 1rem;
}

.warning {
  color: mediumvioletred;
  font-style: italic;
  padding: .5rem 1rem;
}

.token {
  font-size: 33.33%;
  display: inline-block;
  max-width: 19em;
  word-wrap: break-word;
  vertical-align: middle;
  background: whitesmoke;
}

.indent {
  padding-left: 2rem;
}
