
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title
      block head-title
      | | endpoint.fun
    link(rel="stylesheet", href="/k/style.css")

  body
    h1.page-title
      a(href="/") endpoint.fun
      | /
      block page-title

    if error
      .error-flash= error

    block content

    block footer
      nav
        div
          a(href="/new-token") > New token
        div
          a(href="/new-function") > New function
        div
          a(href="/check-usage") > Check usage
        div
          a(href="/docs") > Docs
