
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(rel="stylesheet", href="/k/style.css")

  body
    h1.page-title= title

    block content

    block footer
      nav
        div
          a(href="/new-token") > New token
        div
          a(href="/check-usage") > Check usage
        div
          a(href="/docs") > Docs
