extends layout

block head-title
  | revoke token

block page-title
  | revoke token

block content
  form(action="/revoke", method="post")
    label(for="token") Token:
    input(name="token")
    button(type="submit") Revoke token
